.orders-container {
  padding: 2rem;
  background-color: #f5f5f7;
  min-height: 100vh;
}

.order-card {
  background-color: white;
  border-radius: 18px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.order-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e7;
}

.order-number {
  font-size: 1.1rem;
  color: #1d1d1f;
  font-weight: 500;
}

.order-status {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 500;
}

.status-processing {
  background-color: #e3f2fd;
  color: #1976d2;
}


.status-shipped {
  background-color: #f3e5f5;
  color: #7b1fa2;
}

.status-pending {
  background-color: #fff9eb;
  color: #b68200;
}

.status-delivered {
  background-color: #e8fff3;
  color: #0a8f5c;
}

.status-cancelled {
  background-color: #fee2e2;
  color: #dc2626;
}

.order-info {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-label {
  font-size: 0.875rem;
  color: #86868b;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.info-value {
  color: #1d1d1f;
  font-weight: 400;
}

.order-items {
  background-color: #f5f5f7;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e5e5e7;
}

.item:last-child {
  border-bottom: none;
}

.item-name {
  color: #1d1d1f;
  font-weight: 500;
}

.item-price {
  color: #1d1d1f;
  font-weight: 500;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid #e5e5e7;
}

.total-label {
  font-size: 1.1rem;
  color: #1d1d1f;
  font-weight: 500;
}

.total-value {
  font-size: 1.25rem;
  color: #1d1d1f;
  font-weight: 600;
}

.cancelled-order{
  opacity: 0.55;
}

.cancel-btn {
  color: #fee2e2;
  background-color: #dc2626;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
}
.return-btn { 
  color: #e3f2fd;
  background-color: #1976d2;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
}
