<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/head') %>
    <link rel="stylesheet" href="/tas_user/css/login.css">
    <link rel="stylesheet" href="/tas_user/css/forgot-password.css">
    <link rel="stylesheet" href="/tas_user/css/address-variables.css">
  </head>
  <body class="forgot-password">
    <section class="signin-wrapper">
      <div class="login-container">
        <a href="/"><h1>TechKit</h1></a>
        <h2>Forgot password</h2>
        <form id="emailForm">
          <div class="form-group">
            <input id="email" type="email" placeholder="Email" name="email" />
          </div>
          <button type="submit" class="btn" id="emailSubmitBtn">Send OTP</button>
        </form>
        <form id="otpForm">
          <div class="timer" id="timer">
            Time remaining: <span id="time">01:00</span>
          </div>
          <div class="form-group">
            <input id="otp" type="number" placeholder="Enter OTP" name="otp" />
          </div>
          <button id="otpSubmitBtn" type="submit" class="btn">Enter OTP</button>
        </form>
        <div class="links">
          <a href="/login" id="login">Back to login page</a>
        </div>
      </div>
    </section>
    <!-- Change Password Modal -->
    <section>
    <div id="change-password-modal" class="profile-show-modal">
      <div class="profile-show-modal-content">
        <div class="profile-show-modal-header">
          <h2>Change Password</h2>
          <button class="profile-show-modal-close" id="change-password-close">
            &times;
          </button>
        </div>
        <form id="change-password-form">
          <div class="profile-show-form-group">
            <label for="new-password">New Password</label>
            <input type="password" id="new-password" required />
          </div>
          <div class="profile-show-form-group">
            <label for="confirm-password">Confirm New Password</label>
            <input type="password" id="confirm-password" required />
          </div>
          <div class="profile-show-form-actions">
            <button
              type="button"
              class="profile-show-btn-secondary"
              id="change-password-cancel"
            >
              Cancel
            </button>
            <button type="submit" class="profile-show-btn-primary">
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
    </section>
    <script src="/flashMessage.js"></script>
    <script src="/tas_user/js/forgot-password.js"></script>
  </body>
</html>
