<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/head') %>
    <link rel="stylesheet" href="/tas_user/css/cart.css" />
  </head>
  <body>
    <section id="notification"></section>
    <header class="main_menu home_menu">
      <%- include('../../partials/header.ejs') %>
    </header>
    <main>
      <section class="container">
        <div class="main-heading">
          <div class="heading">
            <h1>
              <span>Cart</span>
            </h1>
          </div>
        </div>
      </section>

      <div class="cart-container">
        <div class="cart-items" id="cartItems">
          <!--  cart item - This will be dynamically populated -->
        </div>

        <!-- Cart summary -->
        <div class="cart-summary">
          <div class="summary-row">
            <span>Subtotal</span>
            <span id="subtotal">---</span>
          </div>
          <div class="summary-row">
            <span>Shipping</span>
            <span id="shipping">FREE</span>
          </div>
          <div class="summary-row total">
            <span>Total</span>
            <span id="total">---</span>
          </div>
          <button class="checkout-btn">Check Out</button>
        </div>
      </div>
    </main>
    <footer><%- include('../../partials/footer') %></footer>
    <script src="tas_user/js/cart.js"></script>
    <%- include('../../../partials/scripts') %>
  </body>
</html>
