<div class="products_container">
    <div class="product_wrapper">
        <!-- product 1 -->
        <a href="/shop?filter=mac">
            <div class="product_card">
                <div class="product_image_container">
                    <img src="Images/product-nav-section/store-card-13-mac-nav-202310.png" alt="">
                </div>
                <div class="product_name_container">
                    <p>Mac</p>
                </div>
            </div>
        </a>
        <!-- product 2 -->
        <a href="/shop?filter=iphone">
            <div class="product_card">
                <div class="product_image_container">
                    <img src="Images/product-nav-section//store-card-13-iphone-nav-202309_GEO_EMEA.png" alt="">
                </div>
                <div class="product_name_container">
                    <p>iPhone</p>
                </div>
            </div>
        </a>
        <!-- product 3 -->
        <a href="/shop?filter=ipad">
            <div class="product_card">
                <div class="product_image_container">
                    <img src="Images/product-nav-section//store-card-13-ipad-nav-202210.png" alt="">
                </div>
                <div class="product_name_container">
                    <p>iPad</p>
                </div>
            </div>
        </a>
        <!-- product 4 -->
        <a href="/shop?filter=watch">
            <div class="product_card">
                <div class="product_image_container">
                    <img src="Images/product-nav-section//store-card-13-watch-nav-202309_GEO_IN.png" alt="">
                </div>
                <div class="product_name_container">
                    <p>Apple Watch</p>
                </div>
            </div>
        </a>
        <!-- product 5 -->
        <a href="/shop?filter=accessories">
            <div class="product_card">
                <div class="product_image_container">
                    <img src="Images/product-nav-section//store-card-13-airpods-nav-202209.png" alt="">
                </div>
                <div class="product_name_container">
                    <p>Accessories</p>
                </div>
            </div>
        </a>
    </div>
</div>