<diV class="card-container">
  <div class="content-wrapper">
    <div class="heading">
      <h2><span>The latest.</span> Take a look at what’s new right now.</h2>
    </div>
    <div class="card-list">
      <%- include('./card-item', {modelName: 'Iphone 16', price:89000, bg:'images/latest-product-section/store-card-40-macbook-air-202402.jpg', cardSize:size}) %>
      <%- include('./card-item', {modelName: 'Iphone 16 pro', price:145000, bg:'images/latest-product-section/store-card-40-iphone-15-pro-2023.jpg', cardSize:size}) %>
      <%- include('./card-item', {modelName: 'Iphone 16 mini', price:59000, bg:'images/latest-product-section/store-card-40-watch-s9-202309_GE.jpg', cardSize:size}) %>
    </div>
  </div>
</div>
