.card-container {
  padding: 30px calc(100vw * 0.1);
}

.content-wrapper {
  width: 100%;
}

.card-list {
  height: fit-content;
  width: 100%;
  overflow-x: overlay;
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.card-list a{
  text-decoration: none;
}

.card-list.shop {
  flex-wrap: wrap;
  overflow: unset;
  justify-content: space-around;
}

.card-item {
  border-radius: 18px;
  background-size: cover;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  background-position: center;
  transition-duration: 0.4s;
  height: 290px;
  width: 290px;
}

.card-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.15);
}

.product_info > *{
  text-shadow: -1px -1px 0 #00000040, 1px -1px 0 #00000040, -1px 1px 0 #00000040, 1px 1px 0 #00000040;
  color: white;
}

.product_info h3 {
  padding: 15px 0;
  min-width: 190px;
  word-break: normal;
  line-height: 25px;
}

.product_info span{
  font-size: 16px;
  display: block;
}

/* --- SHOP HIGHLIGHT SECTION --- */
.card-item {
  padding: 30px;
  background-color: white;
}

.card-item .icon_card {
  width: 230px;
}

.card-item .icon {
  width: 40px;
}

.card-item .icon img {
  width: 100%;
}

.icon_card .text {
  font-size: 21px;
  font-weight: bold;
  padding-top: 15px;
}

@media all and (max-width: 992px) {
  .product_info {
    padding: 0;
  }
  .product_info p {
    font-size: 15px;
  }
  .card-item .icon_card {
    width: 200px;
  }
  .icon_card .text {
    font-size: 17px;
  }
}
