:root {
  --blue: rgb(0, 113, 227);
  --grey: #7c7c7c;
  --black: rgb(36, 36, 36);
  --bgColor: #f3f3f3;

  --smooth-25: all 0.25s;

  background-color: var(--bgColor);
}

/* scroll bar start */
::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: grab;
  border-radius: 3px;
  background-color: rgba(32, 32, 32, 0.05);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000025;
}
/* scroll bar end */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* --- SHOP PAGE --- */
.main-heading{
    padding-top: calc(100vh * 0.1);
}
.heading span,
.apple_colourful {
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* --- TEXT STYLES --- */

h1 {
  font-size: 45px;
  padding: 30px 0;
  color: var(--grey);
}

h2 {
  font-size: 35px;
  padding: 30px 0;
  color: var(--grey);
}

h3 {
  font-size: 30px;
  padding: 30px 0;
}

h4 {
  font-size: 12px;
  font-weight: 100;
}

a{
    text-decoration: none;
    color: inherit;
}

/* --- COMPONENT STYLES --- */

.btn {
  padding: 10px 18px;
  border-radius: 15px;
  transition: var(--smooth-25);
}

.btn:hover {
  filter: brightness(1.05);
}

/* --- CUSTOM STYLES --- */
.card-lg {
  height: 450px;
  width: 400px;
}
.card-md {
  max-height: 400px;
  max-width: 400px;
}
.card-list.shop .card-md {
  height: 280px;
  width: 220px;
}

/* --- OTHERS --- */
.container{
    padding: 0 calc(100vw * 0.1);
}

/* --- RESPONSIVENESS --- */

@media all and (max-width: 992px) {
  .card-lg {
    height: 330px;
    width: 250px;
  }
  .card-md {
    height: 280px;
    width: 200px;
  }
  h1 {
    font-size: 32px;
    padding: 20px 0;
  }
  h2 {
    font-size: 28px;
    padding: 20px 0;
  }
  h3 {
    font-size: 23px;
    padding: 20px 0;
  }
  .product_info {
    padding: 0;
  }
}
