<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/head') %>
    <link rel="stylesheet" href="/apple_styles/shop.css" />
    <link rel="stylesheet" href="/apple_styles/card-style.css" />
    <link rel="stylesheet" href="/apple_styles/pagination.css" />
  </head>
  <body>
    <header><%- include('../../partials/header.ejs') %></header>
    <main>
      <section class="container">
        <div class="main-heading">
          <div class="heading">
            <h1>
              <span>Shop all products.</span>
            </h1>
          </div>
        </div>
      </section>

      <!-- filter section -->
      <section class="container">
        <div class="filter-bar">
          <div class="filter-container">
            <div class="filter-group">
              <label for="sort">Sort</label>
              <select id="sort">
                <option value="a-z">A-Z</option>
                <option value="z-a">Z-A</option>
                <option value="low-high">Low - High</option>
                <option value="high-low">High - Low</option>
                <option value="latest">Latest</option>
                <option value="popular">Popular</option>
              </select>
            </div>
            <div class="filter-group">
              <label for="filter">Filter</label>
              <select id="filter">
                <option value="">All</option>
                <option value="mac">Mac</option>
                <option value="iphone">iPhone</option>
                <option value="ipad">iPad</option>
                <option value="watch">Watch</option>
                <option value="accessories">Accessories</option>
              </select>
            </div>
          </div>
        </div>
      </section>

      <!-- Product section -->
      <section>
        <diV class="card-container">
          <div class="content-wrapper">
            <div class="card-list shop">
              <!-- prod skelton -->
              <div class="card-skelton"></div>
              <div class="card-skelton"></div>
              <div class="card-skelton"></div>
            </div>
          </div>
        </diV>
      </section>

      <!-- Pagination -->
      <section class="pagination-section">
        <nav>
          <ul class="pagination"></ul>
        </nav>
      </section>
    </main>
    <footer><%- include('../../partials/footer') %></footer>
    <script defer src="/tas_user/js/shop-page.js"></script>
    <script src="/pagination.js"></script>
    <%- include('../../../partials/scripts') %>
    <script src="/tas_user/js/searchProduct.js"></script>
    <script src="/tas_user/components/productCard/prod/productCard.js"></script>
  </body>
</html>
