<div class="header">
    <div class="menu-toggle">
        <i class="fas fa-bars"></i>
    </div>
    <div class="admin-info">
        <div class="admin-avatar">A</div>
        <span>Admin</span>
    </div>
</div>