<aside class="sidebar">
  <div class="logo">TechKit Admin</div>
  <nav>
    <div class="nav-item" data-page="dashboard">
      <a href="/admin">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </a>
    </div>
    <div class="nav-item" data-page="report">
      <a href="/admin/report">
        <i class="fa-solid fa-file-lines"></i>
        <span>Report</span>
      </a>
    </div>
    <div class="nav-item" data-page="products">
      <a href="/admin/products">
        <i class="fas fa-box"></i>
        <span>Products</span>
      </a>
    </div>
    <div class="nav-item" data-page="orders">
      <a href="/admin/orders">
        <i class="fas fa-shopping-cart"></i>
        <span>Orders</span>
      </a>
    </div>
    <div class="nav-item" data-page="customers">
      <a href="/admin/users">
        <i class="fas fa-users"></i>
        <span>Customers</span>
      </a>
    </div>
    <div class="nav-item" data-page="categories`">
      <a href="/admin/category">
        <i class="fa-solid fa-list"></i>
        <span>Category</span>
      </a>
    </div>
    <div class="nav-item" data-page="coupons`">
      <a href="/admin/coupons">
        <i class="fa-solid fa-ticket"></i>
        <span>Coupons</span>
      </a>
  </div>
    <div class="nav-item" data-page="coupons`">
      <a href="/admin/offers">
        <i class="fa-solid fa-tag"></i>
        <span>Offers</span>
      </a>
  </div>
    <div class="nav-item" data-page="colors">
      <a href="/admin/color">
        <i class="fa-solid fa-droplet"></i>
        <span>Colors</span>
      </a>
    </div>
    <div class="nav-item" data-page="recover">
      <a href="/admin/recover">
        <i class="fa-solid fa-recycle"></i>
        <span>Recover</span>
      </a>
    </div>
    <div class="nav-item" data-page="requests">
      <a href="/admin/requests">
        <i class="fa-solid fa-bell"></i>
        <span>Requests</span>
      </a>
    </div>
  </nav>
</aside>
